* {
  padding: 0;
  margin: 0;
}

/* Landing Page */

.dummy-phone {
  background-image: url('./Images/dummy-phone-2x.png');
  background-repeat: no-repeat;
  background-size: 454px 618px;
  position: relative;
  height: 618px;
  margin-right: 40px;
  width: 420px;
}

.screen-shot {
  position: absolute;
  top: 99px;
  left: 151px;
}

.carousel-item img {
  height: 427px;
  width: 240px;
}

.left-carousel-section {
  display: flex;
  justify-content: flex-end;
}

.right-carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27%;
}

.signin-section {
  padding: 25px 0;
}

.left-signin-section {
  border: 1.8px solid #dbdbdb;
  border-radius: 3px;
}

.no-account-section {
  display: flex;
  padding: 10px 0;
  margin-top: 10px;
  border: 1.8px solid #dbdbdb;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.no-account-section h6 {
  font-size: 14px;
}

.no-account-section .have-no-account {
  font-weight: bold;
  text-decoration: none;
}

.login-button {
  background-color: #c0dcfc;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
}

.form-control-input {
  border: 1.8px solid #dbdbdb;
  border-radius: 3px;
  display: block;
  width: 75%;
  margin: auto;
  color: gray;
  font-size: 13px;
  height: 35px;
  padding: 10px;
  outline: none;
}

.upper-footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section div {
  margin: 0 10px;
}

.footer-section h6 {
  font-size: 13px;
  color: gray;
}

.upper-or-section {
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.empty-left-div,
.empty-right-div {
  height: 2px;
  border-bottom: 1px solid #dbdbdb;
  flex: 1;
}

.or-center-div {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.or-center-div-span {
  display: block;
}

.or-center-div div {
  font-size: 12px;
  font-weight: bolder;
  color: gray;
}

.facbook-middle-section {
  padding: 0 45px;
  display: flex;
  justify-content: center;
}

.facbook-middle-section i {
  font-size: 20px;
  color: #385185;
}

.with-facebook-login {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.with-facebook-login div {
  color: #385185;
  font-size: 14px;
  font-weight: bold;
}

.facebook-lower-section {
  padding: 0 45px;
  text-align: center;
  margin-top: 8px;
}

.facebook-lower-section .forgot-password {
  font-size: 12px;
  color: #00376b;
}

.images-section {
  display: flex;
  justify-content: center;
}

.first-image-section img {
  width: 136px;
  height: 40px;
}

.second-image-section img {
  width: 134.28px;
  height: 40px;
  margin-left: 8px;
}

.get-the-app {
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

/* Signup section */

.signup-section {
  border: 1.8px solid #dbdbdb;
  width: 348px;
  margin: 40px auto;
  padding: 40px 0;
}

.with-facebook-login-two {
  background-color: #0095f6;
  width: 75%;
  padding: 8px;
  margin: auto;
  border-radius: 3px;
}

.with-facebook-login-two i,
.with-facebook-login-two .with-facebook-login div {
  color: #fff;
}

.signup-see-photos {
  width: 75%;
  margin: auto;
  text-align: center;
  color: #8e8e8e;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}

.no-account-section-signup {
  width: 348px;
  margin: -30px auto 0;
  padding: 20px 0;
}

.instagram-logo-section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.terms-data,
.cookies-policy {
  font-size: 13px;
  color: #8e8e8e;
}

.terms-data span,
.cookies-policy span {
  font-weight: bold;
}

.privacy-policy {
  width: 75%;
  margin: auto;
  text-align: center;
}

/* Navbar */

.navbar-section {
  width: 72.12%;
  height: 54px;
  margin: auto;
  display: flex;
  padding: 0 20px;
}

.user-profile-link-section {
  color: #262622;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14px;
}

.main-nav-logo-section img {
  width: 103px;
  height: 32px;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.fa-user-icon {
  font-size: 21px;
  cursor: pointer;
}

.navbar-search .fa-search-inner {
  margin-right: -19px;
  font-size: 10px;
  z-index: 1;
  color: lightgray;
}

.over-navbar-search {
  width: 215px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  display: flex;
  z-index: 2;
  border-radius: 3px;
  margin-right: -206px;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  color: gray;
}

.over-navbar-search i {
  margin-right: 5px;
}

.navbar-search input {
  width: 215px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 0 20px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.outer-navbar-section {
  width: 100%;
  border-bottom: 1.8px solid #dbdbdb;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.main-nav-logo-section {
  width: 38.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-icons-section {
  width: 38.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-section {
  padding: 2px;
  display: flex;
  align-items: center;
  position: relative;
}

.direct,
.find-people,
.activity-feed,
.profile-section {
  margin-left: 20px;
}

.modal-display-section {
  position: absolute;
  top: 41px;
  width: 230px;
  border-radius: 5px;
  left: -180px;
  background-color: #fff;
}

.logout-link-section button {
  font-size: 14px;
}

.random-star-division {
  position: absolute;
  top: -10px;
  height: 0;
  width: 0;
  right: 30px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
  background-color: #fff;
}

/* Home section */

.main-inner-home-section {
  width: 72.12%;
  margin: 60px auto;
  display: flex;
  padding: 30px 20px 0;
  position: relative;
}

.modal-class {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-modal {
  display: none;
}

.pop-up-modal {
  display: block;
}

.fa-times {
  cursor: pointer;
}

/* Profile section */

.upper-user-profile-section,
.inner-navigation-section,
.upper-post-section {
  width: 72.12%;
  padding: 30px 20px 0;
  margin: 60px auto;
  display: flex;
}

.user-profile-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.user-profile-info-section {
  flex: 2;
}

.user-profile-image-section img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-name-settings-section {
  display: flex;
}

.user-settings-section {
  display: flex;
}

.settings-button-section {
  display: flex;
  align-items: center;
}

.settings-button-section button {
  margin-right: 20px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
}

.user-name-section {
  display: flex;
  align-items: center;
}

.user-name-section div {
  font-size: 28px;
  font-weight: 300;
  margin-right: 20px;
  display: block;
}

.settings-icon-section {
  display: flex;
  align-items: center;
}

.post-followers-section {
  padding: 20px 0 10px;
  display: flex;
}

.post-followers-section div {
  margin-right: 40px;
}

.post-followers-section h6 {
  font-weight: bold;
  font-size: 16px;
}

.post-followers-section h6 span {
  font-weight: lighter;
  margin-left: 5px;
}

.lower-user-name-section {
  font-size: 16px;
  color: #262626;
  font-weight: bold;
}

.user-quote-section {
  font-size: 16px;
  color: #262626;
}

svg {
  cursor: pointer;
}

.home-main-photo-section {
  width: 63%;
  margin-right: 16px;
}

/* Lists of posts */

.recent-posts-section {
  border: 1.8px solid #dbdbdb;
  border-radius: 3px;
}

.recent-posts-section {
  margin-bottom: 24px;
  padding: 16px 2px;
}

.follow-suggestion-section {
  width: 320px;
  padding: 8px 0 0 0;
  position: fixed;
  right: 210px;
}

.follow-profile-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.inner-follow-suggestion-section {
  display: flex;
}

.follow-name-section {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow-name-section {
  padding-left: 15px;
  font-size: 14px;
}

.follow-name-section-first {
  font-weight: bold;
  color: #262626;
}

.follow-name-section-second {
  color: #8e8e8e;
}

.follow-switch-section {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #0095f6;
  margin-left: auto;
}

.follow-middle-suggestion-section {
  display: flex;
  padding-top: 10px;
}

.follow-middle-suggestion-first {
  font-weight: 600;
  color: #8e8e8e;
  font-size: 14px;
}

.follow-middle-suggestion-second {
  margin-left: auto;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.lower-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.follow-lower-suggestion-section {
  display: flex;
  margin-top: 16px;
}

.side-footer-section {
  margin-top: 20px;
}

.lower-follow-name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.lower-follow-name-section-first {
  font-size: 14px;
  font-weight: bold;
  color: #262626;
}

.lower-follow-name-section-second {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: -2px;
}

.side-footer-section-top,
.side-footer-section-bottom {
  display: flex;
  font-size: 11px;
  color: #c7c7c7;
}

.instagram-footer-follow-section {
  color: #c7c7c7;
  font-size: 11px;
  margin-top: 20px;
}

.top-recent-images-inner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.top-recent-images {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #d24d84;
  border-top: 3px solid #d24d84;
  border-bottom: 3px solid #f99d51;
  border-left: 3px solid #f99d51;
}

.top-recent-images-outer {
  padding: 0 4px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-recent-images-inner-name {
  font-size: 12px;
  color: #262626;
}

.rec.rec-arrow {
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Single Post */

.single-post-section {
  width: 100%;
  border: 1.8px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 60px;
}

.top-username-image-section {
  display: flex;
  width: 100%;
  padding: 16px;
}

.top-image-section-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.top-username-svg-section {
  flex: 1;
  display: flex;
  padding: 0 0 0 16px;
}

.top-username-section,
.top-svg-section {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #262626;
  font-size: 14px;
}

.top-svg-section {
  font-size: 12px;
  margin-left: auto;
  cursor: pointer;
}

.main-image-carousel-inner img {
  width: 100%;
  height: 750px;
}

.like-and-comment-section {
  padding: 0 16px;
  margin: 4px 0 0;
  display: flex;
}

.second-post-svg,
.third-post-svg {
  margin: 8px;
}

.first-post-svg {
  margin: 8px 8px 0 0;
}

.last-pos-svg {
  margin-left: auto;
  margin-top: 8px;
}

.total-likes-section,
.main-post-text-section {
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.main-post-text-section h6 {
  font-size: 14px;
  font-weight: 600;
}

.main-post-text-section h6 span {
  font-weight: lighter;
}

.main-post-text-section {
  margin-bottom: unset;
}

.view-comments-section {
  padding: 0 16px;
  font-size: 14px;
  color: #8e8e8e;
}

.commentors-and-comments-sections {
  padding: 0 16px;
}

.commentors-and-comments-sections h6 {
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

.commentors-and-comments-sections h6 span {
  font-weight: lighter;
}

.last-posted-time {
  padding: 0 16px;
  font-size: 10px;
  color: #8e8e8e;
  margin-bottom: 5px;
}

.comment-input-section {
  padding: 0 16px;
  display: flex;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.comment-input-section-svg {
  padding: 8px 16px 8px 0;
}

.comment-input-section-form {
  display: flex;
  flex: 1;
}

.comment-input-section-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-input-section-post {
  border: none;
  outline: none;
  background-color: #fff;
  color: #0095f6;
  font-weight: 600;
  font-size: 14px;
}

/* conversationsList-section */

.conversationsList-section {
  width: 72.12%;
  margin: 80px auto;
  display: flex;
}

.left-conversation-section {
  width: 37.43%;
  background-color: #fff;
  border: 1.8px solid #dbdbdb;
}

.each-conversation {
  display: flex;
  padding: 8px 20px;
  cursor: pointer;
}

.top-header-section {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 0.8px solid #dbdbdb;
  margin-bottom: 8px;
}

.reciever-image img {
  width: 56px;
  height: 56px;
}

.reciever-name {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 20px;
}

.sample-image-section {
  background-image: url('/src/Images/last-image.png');
  background-repeat: no-repeat;
  background-position: -244px 0;
  height: 96px;
  width: 96px;
}

.right-reservation-section {
  width: 62.57%;
  border-top: 1.8px solid #dbdbdb;
  border-right: 1.8px solid #dbdbdb;
  border-bottom: 1.8px solid #dbdbdb;
}

.main-sample-image-sect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 85vh;
}

/* Post Details */

.post-details-inner-section .image-section {
  flex: 3.5;
}

.post-details-inner-section .image-section img {
  height: 598px;
}

.post-details-inner-section .post-details-right-section {
  flex: 2;
}

.post-detail-header {
  padding: 16px;
}

.image-name-following-section {
  display: flex;
}

.image-name-following-section img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.name-following-type-section {
  padding-left: 16px;
  display: flex;
  align-items: center;
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  flex: 1;
  align-items: center;
}

.name-following-type-section-dot {
  height: 4px;
  width: 4px;
  background-color: #262626;
  border-radius: 50%;
  margin: 0 5px;
}

.name-following-type-section-icons {
  margin-left: auto;
}

.post-details-middle-section {
  height: 375px;
  border-bottom: 1.8px solid #dbdbdb;
  border-top: 1.8px solid #dbdbdb;
  overflow-y: auto;
}

.inner-post-details-middle-section {
  padding: 12px 0;
}

.inner-post-details-middle-section {
  font-size: 14px;
  display: flex;
}

.top-post-details-section {
  padding: 12px 16px;
}

.post-details-middle-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.top-post-details-section-inner {
  padding-bottom: 12px;
  display: flex;
}

.top-post-details-section-inner img,
.inner-post-details-middle-section img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.top-post-details-section-inner .image-division-section,
.inner-post-details-middle-section .image-division-section {
  padding-right: 18px;
}

.top-post-details-section-inner .span-division-section {
  font-size: 14px;
  color: #262626;
}

.top-post-details-section-inner .span-division-section span {
  font-weight: 600;
}

.top-post-details-section .plus-button-section {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-post-details-middle-section .span-division-section span {
  font-weight: 600;
}

.details-last-posted-time {
  font-size: 12px;
  color: #8e8e8e;
  padding: 10px 0;
}

.details-last-posted-time-comment,
.details-last-posted-time-comment-likes {
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 300;
}

.details-last-posted-time-comment-likes {
  padding: 0 16px;
  margin-top: 6px;
}

.post-details-lower-icons-section {
  display: flex;
  padding: 0 16px;
}

.last-to-like-section {
  padding: 0 16px;
  display: flex;
  font-size: 14px;
  color: #262626;
}

.last-to-like-section img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.last-to-like-section span {
  font-weight: 600;
}

.details-last-posted-time-comment-comment {
  margin-top: 10px;
  padding-top: 8px;
}

.upper-post-section-linner {
  border-top: 1.2px solid #dbdbdb;
  width: 100%;
  background-color: #dbdbdb;
}

.upper-post-section-more-post,
.upper-post-section-linner-top {
  width: 72.12%;
  padding: 30px 20px 0;
  margin: auto;
  display: flex;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 600;
}

.upper-post-section-linner-top {
  margin-top: -40px;
}

.upper-other-recent-post-section {
  width: 72.12%;
  padding: 16px 20px 0;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-bottom: 30px;
}

.upper-other-recent-post-section img {
  width: 100%;
}

.upper-other-recent-post-section-first {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.upper-other-recent-post-section-first-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.upper-other-recent-post-section-first-inner-heart {
  background-image: url('./Images/core-sprite.png');
  background-repeat: no-repeat;
  background-position: -198px -115px;
  height: 20px;
  width: 20px;
  display: none;
}

.upper-other-recent-post-section-first-inner-comment {
  background-image: url('./Images/core-sprite.png');
  background-repeat: no-repeat;
  background-position: -177px -115px;
  height: 20px;
  width: 20px;
  display: none;
}

.upper-other-recent-post-section-first-inner-count,
.upper-other-recent-post-section-first-inner-number {
  width: 30px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  display: none;
}

.upper-other-recent-post-section-first-inner:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.upper-other-recent-post-section-first-inner:hover .upper-other-recent-post-section-first-inner-heart,
.upper-other-recent-post-section-first-inner:hover .upper-other-recent-post-section-first-inner-comment,
.upper-other-recent-post-section-first-inner:hover .upper-other-recent-post-section-first-inner-count,
.upper-other-recent-post-section-first-inner:hover .upper-other-recent-post-section-first-inner-number {
  display: block;
}
